// Montserrat
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

// Poppins font
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

// Open sans
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,500&display=swap');

// Sass Variables
$grad-bg: linear-gradient(
	159.17deg,
	rgba(201, 0, 179, 0.45) 13.78%,
	rgba(70, 67, 237, 0.45) 53.06%,
	rgba(52, 0, 175, 0.45) 96.71%
);
$accent-color: #ff9500;
$main-color: #18181c;
$gray: #5a5a5a;
$heading: 'Montserrat', sans-serif;
$body-font: 'Open Sans', sans-serif;
$line-height: 27px;
$body-size: 1.25rem;
$heading-size: 2.4rem;
$footer-font-size: 1.12rem;
$radius: 20px;

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
	letter-spacing: 2px;
}

a {
	text-transform: uppercase;
}