@use 'global-resets' as *;

.livestream-section {
	// background: red;
	margin-top: 7em;
	padding-bottom: 4em;
	.lv-text-container {
		width: 90%;
		margin: 0 auto;
		.heading {
			padding: 0 0 3em 0;
			.heading-text {
				font-family: $heading;
				text-transform: uppercase;
				font-size: clamp(1.5em, 4vw, $heading-size);
				color: $gray;
				span {
					color: red;

					.ls-img {
						width: 50px;
						display: inline-block;
						margin-left: -20px;
						position: relative;
						z-index: -1;
					}
				}
			}

			@media screen and (min-width: 43em) {
				text-align: center;
			}
		}
	}
	.lv-st-container {
		width: 90%;
		margin: 0 auto;
		position: relative;
		cursor: pointer;
		&::before {
			content: 'This event has not started or has ended...';
			font-weight: bold;
			text-align: center;
			border-radius: 10px;
			position: absolute;
			bottom: 10%;
			left: 50%;
			padding: 0 10px;
			color: #fff;
			background: #000;
			z-index: 100;
			transform: translate(-50%);
			font-family: $body-font;
			opacity: 0.3;
		}
		.livestream-frame {
			width: 100%;
			border-radius: $radius;
			position: relative;
		}

		@media screen and (min-width: 62em) {
			width: 95%;
		}
	}
}
