@use 'global-resets' as *;

.pastors-section {
	padding-bottom: 5em;
	.container {
		// background: red;

		.heading-wrap {
			width: 90%;
			margin: 0 auto;
			.heading {
				font-family: $heading;
				text-transform: uppercase;
				font-size: clamp(1.5rem, 5vw, 2rem);
			}
		}

		.images-wrap {
			margin-top: 2em;
			min-height: 50px;
			display: grid;
			gap: 10px;
			.img-wrap {
				height: 350px;
				position: relative;
				font-family: $body-font;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        padding-left: 1em;
        padding-bottom: 2em;
        // margin-top: -10em;
        // width: 90%;

        h3 {
          // background: blue;
          // margin-top: -10em;
          color: #fff;
        }
				&:nth-child(1) {
					background: url('/asstets/img/jeph.png') center/cover, no-repeat;
				}
				&:nth-child(2) {
					background: url('/asstets/img/woman.png') center/cover, no-repeat;
				}
				&:nth-child(3) {
					background: url('/asstets/img/nzube.png') top/cover, no-repeat;
				}
				&::before {
					content: '';
					position: absolute;
					background: linear-gradient(
						159.17deg,
						rgba(201, 0, 179, 0.45) 13.78%,
						rgba(70, 67, 237, 0.45) 53.06%,
						rgba(52, 0, 175, 0.45) 96.71%
					);
					inset: 0;
					z-index: -1;


					@media screen and (min-width: 43em) {
						border-radius: $radius;
					}
				}

			}

			@media screen and (min-width: 43em) {
				display: grid;
				gap: 20px;
				grid-template-columns: 1fr 1fr;
				width: 90%;
				margin: 0 auto;
				margin-top: 7em;
				.img-wrap {
					border-radius: $radius;
				}
			}

      @media screen and (min-width: 62em) {
        grid-template-columns: repeat(3, 1fr );
        margin-top: 4em;
      }
		}
	}
}
