@use 'global-resets' as *;

.section-section {
	// background: red;
	padding: 0 0 10em 0;
	.container-text {
		width: 90%;
		margin: 0 auto;
		@media screen and (min-width: 43em) {
			width: 70%;
		}
		@media screen and (min-width: 62em) {
			width: 95%;
		}
		margin-bottom: 3em;
		.text {
			font-family: $heading;
			text-transform: uppercase;
		}
	}

	.box-container {
		width: 90%;
		margin: 0 auto;
		display: grid;
		gap: 10px;
		.box {
			min-height: 200px;
			width: 100%;
			border-radius: $radius;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 4em;
			position: relative;
			h4 {
				font-family: $body-font;
				text-align: center;
				text-transform: uppercase;
				color: #fff;
				position: relative;
				z-index: 1;
			}
			&::before {
				content: '';
				position: absolute;
				inset: 0;
				background: $grad-bg;
				border-radius: $radius;
			}

			&:nth-child(1) {
				background: url('/asstets/img/follow-jesus.jpeg') center/cover,
					no-repeat;
			}

			&:nth-child(2) {
				background: url('/asstets/img/faith-build.jpg') center/cover, no-repeat;
				// position: relative;
				// z-index: -1;
			}
			&:nth-child(3) {
				background: url('/asstets/img/equip.jpg') center/cover, no-repeat;
			}
			&:nth-child(4) {
				background: url('/asstets/img/bible-img.jpeg') center/cover, no-repeat;
			}
		}

		@media screen and (min-width: 43em) {
			width: 70%;
			grid-template-columns: 1fr 1fr;
		}

		@media screen and (min-width: 62em) {
			width: 95%;
			grid-template-columns: repeat(4, 1fr);
			.box {
				height: 280px;
			}
		}
	}
}
