@use 'global-resets' as *;

.volunteer-form-con {
	// background: red;
	margin-top: 2em;
	.form-container {
		iframe {
			width: 100%;
			// min-height: 1800px;
			// background: red;

			@media screen and (min-width: 62em) {
				width: 50%;
				margin-top: -200px;
			}
		}
	}
}
